html {
  background-color: $ccc-html-bg;
  overflow-x: hidden;
}

body {
  color: #000000;
  @include gradient-vertical($ccc-body-gradient-start, $ccc-body-gradient-end);
  @media (max-width: $screen-xs-max){
    padding-top: 40px !important;
  }
  
  &.loading {
    @include opacity(0);
    visibility: hidden;
  }
  
  &.loaded {
    visibility: visible;
    @include opacity(1);
    @include transition(opacity 1s ease-in-out 500ms);
  }
  font-family: "InfinitiMetaPro-Black","Helvetica Neue",Helvetica,Arial,sans-serif;
}

sup {
  font-size: 50%;
}

.container.stretch {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  
  & > .row {
    margin: 0px !important;
  }
}

#desktop-content-container,
#phone-content-container,
#rules-content-container {
  background-image: none;
  background-color: $ccc-white;
}

#rules-content-container {
  padding-bottom: 120px;
}

.no-purchase {
  text-transform: uppercase;
}

.gutter-less {
  @include gutter-less();
}

.float-less {
  @include float-less();
}

.nowrap {
  @include nowrap();
}

.template {
  @include template();
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $ccc-didot-font-family;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

a {
  color: $ccc-white;
  text-decoration: none !important;
}

a:active {
  background-color: transparent !important; 
  color: #6c6c6c !important;
  text-decoration: none !important;
}

a:hover {
  background-color: transparent !important; 
  color: #6c6c6c !important;
  text-decoration: none !important;
}

.btn-ccc {
  background: $ccc-black;
  color: $ccc-white;
  font-family: $ccc-meta-pro-bold-font-family;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  &:hover, 
  &:active {
    color: #6c6c6c !important;
    background-color: $ccc-black !important;
    text-decoration: none !important;
  }
}

.optin-copy {
  a {
    color: #6c6c6c !important;

    &:hover, 
    &:active {
      color: #b6b6b6 !important;
    }
  }
}