$navbar-link-font-family: $ccc-didot-font-family;

nav {
  @media (min-width: $screen-sm-min){
    border-bottom: $ccc-red 2px solid !important;
  }
}

.header {
  background-color: $ccc-header-bg;
  background-image: none;
  
  .title-container {
    text-transform: uppercase;
    line-height: auto;
    
    .logo-container {
      width: 76%;
      height: 92px;
      margin: 0 auto;
      
      @media (max-width: $screen-sm-max){
        width: 90%;
        height: 112px;
      }
      
      .logo {
        width: 100%;
        height: 100%;
        display: block;
        background-image: url($image-path + 'logo_iccc.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    
    .title-copy {
      font-size: 34px;
      line-height: 34px;
      margin: 0;
      
      &.small {
        font-size: 18px;
        line-height: 18px;
        
        @media (max-width: $screen-sm-max){
          font-size: 12px;
          line-height: 12px;
        }
        
        @media (max-width: $screen-xs-max){
          font-size: 9px;
          line-height: 9px;
        }
      }
      
      &.nowrap {
        white-space: nowrap;
      }
      
      @media (max-width: $screen-sm-max){
        font-size: 24px;
        line-height: 24px;
      }
      
      @media (max-width: $screen-xs-max){
        font-size: 16px;
        line-height: 16px;
      }
    }

    @media(min-width: $screen-sm-min) {
      .left-padding-less {
        padding-left: 0;
      }
    }
  }
  
  .lockup-container {
    
    .logos { padding-bottom: 12px; }
    
    .logo-container {
      height: 60px;
      width: 100%;
      border-left: 1px solid $ccc-grey;
      
      .logo {
        width: 90%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.infiniti { border: none; }
      &.infiniti .logo { height: 60px; background-image: url($image-path + 'logo_infiniti.png'); }
      &.ncaa .logo { height: 60px; background-image: url($image-path + 'logo_ncaa.png'); }
      &.nabc .logo { height: 60px; background-image: url($image-path + 'logo_nabc.png'); }
      
      @media (max-width: $screen-sm-max){
        height: 50px;
        
        &.infiniti { 
          padding-top: 5px;
          padding-bottom: 5px;
          .logo {
            height: 40px;
          }
        }
        &.ncaa, 
        &.nabc {
          .logo {
            height: 50px;
          }
        }
      }
      
      @media (max-width: $screen-xs-max){
        height: 40px;
        
        &.infiniti { 
          margin-bottom: 4px;
          border-bottom: 1px solid $ccc-grey; 
          padding-bottom: 0px;
          .logo {
            height: 30px;
          }
        }
        &.ncaa {
          border-left: none;
        }
        &.ncaa, 
        &.nabc {
          margin-top: 0px;
          padding-top: 0px;
          .logo {
            width: 80%;
            height: 40px;
          }
        }
      }
    }

    .float-right {
      float: right;
    }

    @media(min-width: $screen-sm-min) {
      .right-padding-less {
        padding-right: 0;
      }
    }
  }
  
  .title-container {
    padding-top: 20px;
    padding-bottom: 20px;
    
    @media (max-width: $screen-sm-max){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    @media (max-width: $screen-xs-max){
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
  
  .lockup-container {
    padding-top: 30px;
    padding-bottom: 15px;
    
    @media (max-width: $screen-sm-max){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    @media (max-width: $screen-xs-max){
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  
  .legalese {
    font-size: 8px;
    font-weight: 400;
  }

  @media (min-width: $screen-lg-min) {
    .text-right {
      text-align: right !important;
    }
  }
  
  .branding {
    font-size: inherit;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    line-height: inherit;
  }
  
  @media (max-width: $grid-float-breakpoint){
    font-size: 35px;
  }
}

.navbar {

  .social-icons {
    float: right;
    padding-right: 10px;
    /*position: relative;*/
    /*bottom: 4px;*/
    //margin-top: -8px;

    .social {
      display: inline-block;
      /*padding: 0px !important;*/
    }

    .fa-circle {
      color: $ccc-black;
      position: relative;
      top: 5px;
    }

    .fa-facebook {
      color: $ccc-white;
      position: relative;
      margin-left: -16px;
      bottom: -1px;

      @media (min-width: $screen-md-min){
        margin-left: -18px;
      }
    }

    .fa-twitter {
      color: $ccc-white;
      position: relative;
      margin-left: -18px;
      bottom: -1px;

      @media (min-width: $screen-md-min){
        margin-left: -20px;
      }
    }

    .fa-2x {
      font-size: 1.75em;
    }
  }
  
  
  &.hidden-xs {
    float: left;
    clear: both;
    width: 100%;
    border: none;
    min-height: 50px !important;
    max-height: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    background-color: $ccc-navbar-default-bg;
    @include border-radius(0px);
    
    .navbar-nav {
      float: none !important;
      //width: 82%;
      height: inherit;
      line-height: inherit;
      
      li {
        width: auto;
        height: inherit;
        padding: 0px 28px 0px 0px;
        line-height: inherit;
        text-align: left;
        
        a {
          margin: 10px 15px;
          padding: 0;
          height: 42px;
          line-height: 30px;
          color: $ccc-black;
          font-family: $ccc-meta-pro-bold-font-family;
          font-size: 17px;
          font-weight: 900;
          font-style: normal;
          text-transform: uppercase;
          
          &:hover,
          &:active {
            background-color: inherit;
            color: #6c6c6c;
          }
          
          @media (max-width: $screen-sm-max){
            margin: 10px;
            font-size: 15px;
          }
        }
        
        &.active a {
          background-color: inherit;
          color: #6c6c6c;
        }
      }
      
      .countdown-container {
        width: 165px;
        border-right: none;
        font-family: $ccc-font-family-sans-serif;
        font-size: 10px;
        line-height: 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: $ccc-white;
        
        .labels {
          padding-top: 3px;
        }
  
        .countdown-label,
        h4, h5, h6 {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
          color: inherit;
          margin: 3px 0px;
          text-align: center;
        }
  
        .countdown {
          font-family: $ccc-display-font-family;
          font-size: 22px;
          line-height: 22px;
          font-weight: normal;
          color: $ccc-countdown-color;
        }
      }
    }

    .social a {
      display: block;
      //background-position: center;
      //background-repeat: no-repeat;
      //color: transparent !important;
    
      &.facebook { 
        //color: $ccc-white;
        position: absolute;
        //width: 42px;
        /*width: 75%;*/
        /*margin: 0 !important;*/
        top: -6px;
        //background-image: url('/images/2016/icon_facebook.png'); 

        &:hover {
          .fa-circle {
            color: #6c6c6c;
          }
        }

      }

      &.twitter {
        //width: 42px;
        /*margin: 0 !important;*/
        /*background-size: 75%;*/
        /*background-image: url('/images/2016/icon_twitter.png'); */
        position: absolute;
        top: -6px;

        &:hover {
          .fa-circle {
            color: #6c6c6c;
          }
        }
      }
    }
  }
  
  &.visible-xs {
/*    .mobile-social a {
      margin: 10px 15px;
      padding: 0px;
    }*/

    .mobile-social {
      padding-top: 4px;
      a {
        padding: 0 0 0 10px;
      }

      &.twitter-mobile {
        padding-top: 10px;
      }

      .fa-circle {
        position: relative;
      }
      .fa-facebook {
        color: $ccc-white;
        position: relative;
        right: 16px;
        bottom: 5px;
      }
      .fa-twitter {
        color: $ccc-white;
        position: relative;
        right: 18px;
        bottom: 5px;
      }
    }

    .nav {
      li {
        text-align: center;

      }
    }
  }
  
  &.sticky.affix {
    top: 0px;
    z-index: 9999;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $ccc-black;
}

