$heading-font-family: $ccc-meta-pro-bold-font-family;
$heading-border-color: $ccc-body-gradient-end;
$sub-heading-font-family: $ccc-meta-pro-bold-font-family;

#rules-content-container { 
  font-weight: 300;
  a {
    color: #6c6c6c;
    
    &:hover, 
    &:active {
      color: $ccc-light-grey !important;
    } 
  }
  
  .promo-title {
    font-weight: 900;
    font-family: $heading-font-family;
    text-transform: uppercase;
  }
  
  .sub-heading {
    font-weight: 900;
    font-family: $sub-heading-font-family;
  }
  
  .content-heading {
    font-weight: 900;
    font-family: $sub-heading-font-family;
    text-transform: uppercase;
  }
  
  .section-heading {
    font-weight: 900;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid $heading-border-color;
    
    @media (max-width: $screen-xs-max){
      width: 83%;
    }
  }

  p, li {
    font-weight: 300;
    font-family: $ccc-meta-pro-book-font-family;
  }
}