.spinner-container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 568px;
  
  .loading-message-container {
    position: absolute;
    width: 100px;
    top: 60%;
    left: 50%;
    margin-left: -50px;
    text-indent: 20px;
    font-style: italic;
  }
}

body.loaded .spinner-container { display: none; }